@model OOH.WebApi.Models.Agency.AgencyVm

<form asp-controller="Agencies" asp-action="CreateUpdate" id="frmAgency" method="post">
    <div class="card">
        <div class="card-block">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-btn-outline-primary">Nuevo</button>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <div class="row">
                <input type="hidden" class="form-control" asp-for="Id" />
                <div class="col-md-6">
                    <label>Nombre de agencia</label>
                    <input type="text" class="form-control" asp-for="Name" />
                    @*<span asp-validation-for="Name"></span>*@
                </div>
                <div class="col-md-6">
                    <label>Comisión</label>
                    <input type="text" class="form-control" asp-for="Rate" />
                    @*<span asp-validation-for="Rate"></span>*@
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{

    <script>
        $(function () {
            var result = Validate.Form("#frmAgency", "api/agency/CreateUpdate", {
                rules: {
                    Name: {
                        required: true
                    },
                    Rate: {
                        required: true
                    }
                },
                messages: {
                    Name: {
                        required: "Debes ingresar un nombre"
                    },
                    Rate: {
                        required: "La comisión es requerida"
                    }
                }
            }, function (data) {
                $("#Id").val(data.data);
            })
        });
    </script>

}
