<div>
    <div class="card">

        <div class="card-header">
            <a href="@Url.Action("CreateUpdate","Agencies")" class="btn btn-primary"> <i class="fa fa-pencil-square-o"></i>Agregar Agencia</a>
            <button class="btn btn-primary btn-outline-primary" onclick="refresh()"><i class="fa fa-refresh"></i>Actualizar</button>
        </div>
    </div>

    <div class="card">

        <div class="card-block">
            <table id="agencyTable" class="table table-hover">
                <thead>
                    <tr>
                        <th class="filter-action">Acciones</th>
                        <th class="filter">Código</th>
                        <th class="filter">Nombre de agencia</th>
                        <th class="filter">Comisión</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/js/Agency/jquery.agency.js"></script>