@model OOH.Data.Models.Cotizaciones;
@{
    ViewData["Title"] = "CreateUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .ch {
        width: 30%
    }
</style>
<input asp-for="CotizacionId" hidden />

    <div class="card">
        <div class="card-block row">
            <div class="col-md-9 container">
                <button type="submit" id="BtnSubmit" class="btn btn-primary" onclick="PostMaestroDetalle()"><i class="far fa-save"></i>Guardar</button>
                <strong class="btn btn-outline-primary" onclick="edit('0')"> <i class="fa fa-pencil-square-o"></i>Nuevo</strong>
                <button class="btn btn-outline-danger ">PDF</button>
                <button class="btn btn-outline-warning" id="btnPowerPoint">Powert Point</button>
                <button class="btn btn-outline-success">Postear</button>
            </div>



            <div class="col-md-3">
                <label class="control-label">Consolida Costo</label>

                <input type="checkbox" class="js-single bool" id="ConsolidaCosto" name="ConsolidaCosto" />
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-block">

            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Codigo Cotizacion</label>
                        <input id="CodigoCotizacion" class="form-control" readonly />
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <label class="control-label">Ejecutivo</label>
                        <input id="Ejecutivo" class="form-control" readonly/>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Cliente</label>
                        <div id="divClient">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Atencion A</label>
                        <input class="form-control" id="txtAtencionA" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Estado de cotizacion</label>
                        <input class="form-control " id="ESTADO" readonly />
                        <input asp-for="EstadoId" hidden />

                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Agencia</label>
                        <div id="divAgenci"></div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Comentarios</label>
                        <textarea class="form-control" id="txtAreaComentarios"></textarea>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Fecha</label>
                        <input class="form-control" readonly id="readOnlyFecha" />

                    </div>


                </div>

            </div>
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-block">

            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs  tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#contacts" role="tab">Detalle de caras</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#faces" id="tabcaras" role="tab">Caras</a>
                        </li>
                        @*
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#messages1" role="tab">Messages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#settings1" role="tab">Settings</a>
                        </li>*@
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content tabs card-block" id="tabs-container">
                        <div class="tab-pane active" id="contacts" role="tabpanel">
                            <div class="container">

                                <div class="row">
                               
                                    <div class="col-md-4">
                                        <label class="control-label">Fecha Desde</label>
                                        <input type="date" class="form-control" id="FechaDesde" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Fecha Hasta</label>
                                        <input type="date" class="form-control" id="FechaHasta" />
                                    </div>
                                    <br />
                                    <br />
                                    <br />

                                    <br />
                                </div>
                            </div>
                            <table class="table" style="width:100%" id="CarasTable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Codigo</th>
                                        <th>Referencia</th>
                                        <th>Dirección</th>
                                        <th>Precio</th>
                                        <th>Departamento</th>
                                        <th>Iluminada</th>

                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="faces" role="tabpanel">
                            <div class="container">

                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Sitio</label>
                                        <select id="dropdownSitio">
                                        </select>

                                    </div>
                                    <div class="col-md-4">
                                        <label>Categoria</label>

                                        <div id="divDropCategoria">

                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <label>Tipo</label>

                                        <div id="divDropTipo">

                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                </div>
                            </div>
                            <div>
                                <table class="table" id="addCarasTable" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="filter-action"></th>
                                            <th class="filter">Cara</th>
                                            <th class="filter">Categoria</th>
                                            <th class="filter">ReferenciaComercial</th>
                                            <th class="filter">Tipo</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <!-- Modal CaraDetalle -->

                        </div>
                        @*
                        <div class="tab-pane" id="messages1" role="tabpanel">
                            <p class="m-0">3. This is Photoshop's version of Lorem IpThis is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean mas Cum sociis natoque penatibus et magnis dis.....</p>
                        </div>
                        <div class="tab-pane" id="settings1" role="tabpanel">
                            <p class="m-0">4.Cras consequat in enim ut efficitur. Nulla posuere elit quis auctor interdum praesent sit amet nulla vel enim amet. Donec convallis tellus neque, et imperdiet felis amet.</p>
                        </div>*@
                    </div>
                </div>

            </div>
            <!-- Row end -->

        </div>
    </div>

<div class="modal fade" id="ModalCarasDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

    <div class="modal-dialog modal-lg h-100 d-flex flex-column justify-content-center my-0" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="modalTitle">Costo de Cara</h5>
                <button type="button" class="close" id="btnDetalleCaraClose" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form id="formularioCostos">
                        <div class="row">
                            <input id="idCaraAdd" hidden />
                            <input id="idDetalle" hidden />
                            <div class="col-md-4">
                                <label class="control-label">Costo de arrendamiento</label>
                                <input data-icon="$" type="text" class="form-control" data-mask="Decimal" id="CostoArrendamiento" />
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Costo de impresion</label>
                                <input data-icon="$" type="text" class="form-control" data-mask="Decimal" id="CostoImpresion" />
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Costo de instalacion</label>
                                <input data-icon="$" type="text" class="form-control" data-mask="Decimal" id="CostoInstalacion" />
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Costo saliente</label>
                                <input data-icon="$" type="text" class="form-control" data-mask="Decimal" id="CostoSaliente" />
                            </div>

                            <div class="col-md-4">
                                <label class="control-label">Fecha Desde</label>
                                <input type="date" class="form-control" id="FechaDesdeModal" />
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Fecha Hasta</label>
                                <input type="date" class="form-control" id="FechaHastaModal" />
                            </div>

                        </div>

                    </form>

                    <br />
                    <br />


                </div>
                <div class="modal-footer">
                    <div class="col-md-4" style="float:right">
                        <label></label>
                        <button class="btn btn-success form-control" onclick="AddArray()">Agregar</button>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalCaras" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

    <div class="modal-dialog modal-viva-lg h-100 d-flex flex-column justify-content-center my-0" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="modalTitle">Añadir Caras</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script src="~/js/Quotation/jquery.EditCreate.js" type="text/javascript"></script>
<script src="~/js/Quotation/modal/jquery.AddCarasModal.js" type="text/javascript"></script>
