<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link href="~/assets/css/login.css" rel="stylesheet" />
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login - VIVA</title>
    <script src="~/assets/js/core/jquery.3.2.1.min.js"></script>

    <script src="~/js/jquery.blockUI.js"></script>
    <script src="~/js/jquery.functions.js"></script>
</head>
<body>
    <section class="material-half-bg">
        <div class="cover"></div>
    </section>
    <section class="login-content">
     @RenderBody()
     
    </section>

</body>
</html>