
@{
    ViewData["Title"] = "Proveedores";
}

<div>
    <div>

    </div>
    <div>
        <table id="tablaProveedor" class="table table-hover">
            <thead>
                <tr>
                    <th class="filter-action">Acciones</th>
                    <th class="filter">Codigo</th>
                    <th class="filter">Nombre Comercial / Nombre o Razón Social</th>
                    <th class="filter">NRC</th>
                    <th class="filter">NIT</th>
                </tr>
            </thead>
            <tbody>
           
            </tbody>

        </table>


    </div>
</div>
@section scripts{
    <script>
        $().ready(function ($) {
            DrawDatatable();
        });
        function GetDataProvideer() {
            fns.CallGetAsync("api/Provideer/Get", "", function (dataResult) {
                $("#tablaProveedor").DataTable().clear();
                $("#tablaProveedor").DataTable().rows.add(dataResult).draw();

            });
        }

        function DrawDatatable() {

            DataTableHelper.Draw("#tablaProveedor", {
                destroy: true,
                orderCellsTop: true,
                fixedHeader: true,
                data: [],
                columns: [
                    {
                        data: "nit",
                        orderable: false,
                        render: function (data, type, full, meta) {
                            return `<i class="fas fa-pen-square"></i>`;
                        }
                    },
                    {
                        data: "proveedorId",
                        render: function (data, type, full, meta) {
                            return "<a href='index'>" + data + "</a>";
                        }
                    },
                    { data: "nombre" },
                    { data: "nrc" },
                    { data: "nit" },
                  
                ]
            }).FilterColum();
            GetDataProvideer();
        }
    </script>
}