
@{
    ViewData["Title"] = "Proveedores";
}

<div>
    <div class="card">

        <div class="card-header">
            <button class="btn btn-primary" onclick="edit('0')"> <i class="fa fa-pencil-square-o"></i>Agregar Proveedor</button>
            <button class="btn btn-primary btn-outline-primary" onclick="refresh()"><i class="fa fa-refresh"></i>Actualizar</button>
        </div>
    </div>

    <div class="card">

        <div class="card-block">
            <table id="tablaProveedor" class="table table-hover">
                <thead>
                    <tr>
                        <th class="filter-action">Acciones</th>
                        <th class="filter">Codigo</th>
                        <th class="filter">Nombre Comercial / Nombre o Razón Social</th>
                        <th class="filter">NIT</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>

            </table>


        </div>
        </div>
    </div>
    @section scripts{
        <script src="~/js/Provider/jquery.provider.js" type="text/javascript"></script>
    }
