@model OOH.Data.Models.Clientes

@{
    ViewData["Title"] = "CreateUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateUpdate</h1>

<h4>Clientes</h4>
<hr />
    <div class="container">
<div class="row">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-2">
            <label asp-for="ClienteId" class="control-label"></label>
            <input asp-for="ClienteId" class="form-control" readonly />

        </div>
        <div class="col-md-6">
            <label asp-for="NombreComercial" class="control-label"></label>
            <input asp-for="NombreComercial" class="form-control" />
            <span asp-validation-for="NombreComercial" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Codigo" class="control-label"></label>
            <input asp-for="Codigo" class="form-control" />
            <span asp-validation-for="Codigo" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="RazonSocial" class="control-label"></label>
            <input asp-for="RazonSocial" class="form-control" />
            <span asp-validation-for="RazonSocial" class="text-danger"></span>
        </div>

        <div class="col-md-3">
            <label asp-for="NRC" class="control-label"></label>
            <input asp-for="NRC" class="form-control" />
            <span asp-validation-for="NRC" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="NIT" class="control-label"></label>
            <input asp-for="NIT" class="form-control" />
            <span asp-validation-for="NIT" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Giro" class="control-label"></label>
            <input asp-for="Giro" class="form-control" />
            <span asp-validation-for="Giro" class="text-danger"></span>
        </div>
        <div class="col-md-5">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-5">
            <label asp-for="Direccion" class="control-label"></label>
            <input asp-for="Direccion" class="form-control" />
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Telefono" class="control-label"></label>
            <input asp-for="Telefono" class="form-control" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Celular" class="control-label"></label>
            <input asp-for="Celular" class="form-control" />
            <span asp-validation-for="Celular" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="PersonaJuridica" /> @Html.DisplayNameFor(model => model.PersonaJuridica)
            </label>
        </div>
      
        <div class="col-md-3">
            <label asp-for="CategoriaId" class="control-label"></label>
            <input asp-for="CategoriaId" class="form-control" />
            <span asp-validation-for="CategoriaId" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/js/Client/jquery.EditCreate.js"></script>