@model OOH.Data.Models.Clientes

@{
    ViewData["Title"] = "CreateUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="formClient">

    <div class="card">
        <div class="card-block">
            <input type="submit" value="Save" id="BtnSubmit" class="btn btn-primary" />
            <button class="btn btn-btn-outline-primary">Nuevo</button>
            <div id="divBtnNuevo">

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-block">

            <div class="container">
                <div class="row">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="col-md-2" hidden>
                        <input asp-for="ClienteId" class="form-control" readonly />
                    </div>
                    <div class="col-md-3">
                        <label asp-for="Codigo" class="control-label"></label>
                        <input asp-for="Codigo" class="form-control" />
                        <span asp-validation-for="Codigo" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Nombre Comercial</label>
                        <input asp-for="NombreComercial" class="form-control" />
                        <span asp-validation-for="NombreComercial" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Municipios</label>
                        <input  asp-for="MunicipioId" hidden/>
                        <div id="divMunicipio"></div>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="NRC" class="control-label"></label>
                        <input asp-for="NRC" class="form-control" />
                        <span asp-validation-for="NRC" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Razon Social</label>
                        <input asp-for="RazonSocial" class="form-control" />
                        <span asp-validation-for="RazonSocial" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="NIT" class="control-label"></label>
                        <input asp-for="NIT" class="form-control" />
                        <span asp-validation-for="NIT" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="Celular" class="control-label"></label>
                        <input asp-for="Celular" class="form-control" />
                        <span asp-validation-for="Celular" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Giro" class="control-label"></label>
                        <input asp-for="Giro" class="form-control" />
                        <span asp-validation-for="Giro" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Categoria</label>
                       <input asp-for="CategoriaId" hidden />
                        <div id="divCategoria">

                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="control-label" asp-for="PersonaJuridica"></label>
                        <br />
                        @if (Model.PersonaJuridica)
                        {

                        <input type="checkbox" class="js-single" id="PersonaJuridica" name="PersonaJuridica" checked data-switchery="true" />
                        }
                        else
                        {
                        <input type="checkbox" class="js-single" id="PersonaJuridica" name="PersonaJuridica" data-switchery="false" />

                        }

                    </div>

                    <div class="col-md-12">
                        <label asp-for="Direccion" class="control-label"></label>
                        <textarea asp-for="Direccion" class="form-control"></textarea>
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>



                </div>

            </div>

        </div>
    </div>
</form>
<div class="card">
    <div class="card-block">

        <!-- Row start -->
        <div class="sub-title">
            <i class="fa fa-plus-square text-secondary" id="addbtn" onclick="SwalCreateEdit(0)" style="font-size:25px"></i>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs  tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#contacts" role="tab">Contactos</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#profile1" role="tab">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#messages1" role="tab">Messages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#settings1" role="tab">Settings</a>
                        </li>*@
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs card-block">
                    <div class="tab-pane active" id="contacts" role="tabpanel">
                        @* <p class="m-0">1. This is Photoshop's version of Lorem IpThis is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean mas Cum sociis natoque penatibus et magnis dis.....</p>*@
                        <table id="tablaContact" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Acciones</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Celular</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    @*<div class="tab-pane" id="profile1" role="tabpanel">
                            <p class="m-0">2.Cras consequat in enim ut efficitur. Nulla posuere elit quis auctor interdum praesent sit amet nulla vel enim amet. Donec convallis tellus neque, et imperdiet felis amet.</p>
                        </div>
                        <div class="tab-pane" id="messages1" role="tabpanel">
                            <p class="m-0">3. This is Photoshop's version of Lorem IpThis is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean mas Cum sociis natoque penatibus et magnis dis.....</p>
                        </div>
                        <div class="tab-pane" id="settings1" role="tabpanel">
                            <p class="m-0">4.Cras consequat in enim ut efficitur. Nulla posuere elit quis auctor interdum praesent sit amet nulla vel enim amet. Donec convallis tellus neque, et imperdiet felis amet.</p>
                        </div>*@
                </div>
            </div>

        </div>
        <!-- Row end -->

    </div>

</div>
<script src="~/js/Client/jquery.EditCreate.js"></script>
<script src="~/js/Contacts/jquery.contacts.js"></script>
<script src="~/js/Contacts/jquery.buildContact.js"></script>