@model OOH.Data.Models.Clientes

@{
    ViewData["Title"] = "CreateUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="formClient">

    <div class="card">
        <div class="card-block row">
            <div class="col-md-2">
                <button type="submit" id="BtnSubmit" class="btn btn-primary"><i class="far fa-save"></i>Guardar</button>
            </div>
            <div class="col-md-1">

                <label class="btn btn-outline-primary" onclick="edit('0')"> <i class="fa fa-pencil-square-o"></i>Nuevo</label>
            </div>
            

            <div class="col-md-3 container">
           
            </div>

            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                <label class="control-label" asp-for="Activo"></label>:
               
                <input type="checkbox" class="js-switch bool"  id="Activo" name="Activo" />
            </div>


        </div>
    </div>
    <div class="card">
        <div class="card-block">

            <div class="container">
                <div class="row">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="col-md-2" hidden>
                        <input asp-for="ClienteId" class="form-control number" readonly />
                    </div>
                    <div class="col-md-3">
                        <label asp-for="Codigo" class="control-label"></label>
                        <input asp-for="Codigo" class="form-control" />
                        <span asp-validation-for="Codigo" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Nombre Comercial</label>
                        <input asp-for="NombreComercial" class="form-control" />
                        <span asp-validation-for="NombreComercial" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Municipios</label>

                        <div id="divMunicipio"></div>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="NIT" class="control-label"></label>
                        <input asp-for="NIT" class="form-control" data-mask="NIT" />
                        <span asp-validation-for="NIT" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label class="control-label">Razon Social</label>
                        <input asp-for="RazonSocial" class="form-control" />
                        <span asp-validation-for="RazonSocial" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="Celular" class="control-label"></label>
                        <input asp-for="Celular" class="form-control" />
                        <span asp-validation-for="Celular" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label class="control-label">Categoria</label>

                        <div id="divCategoria">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Giro" class="control-label"></label>
                        <input asp-for="Giro" class="form-control" />
                        <span asp-validation-for="Giro" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label" asp-for="PersonaJuridica"></label>
                        <br />
                        <input type="checkbox" class="js-single bool" id="PersonaJuridica" name="PersonaJuridica" />

                    </div>

                    <div class="col-md-3">
                        <label asp-for="NRC" class="control-label"></label>
                        <input asp-for="NRC" class="form-control" />
                        <span asp-validation-for="NRC" class="text-danger"></span>
                    </div>

                    <div class="col-md-12">
                        <label asp-for="Direccion" class="control-label"></label>
                        <textarea asp-for="Direccion" class="form-control"></textarea>
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>



                </div>

            </div>

        </div>
    </div>
</form>
<div class="card">
    <div class="card-block">

        <!-- Row start -->
        <!--<div class="sub-title">
            <i class="fa fa-plus-square text-secondary" id="addbtn" onclick="editContact(0)" style="font-size:25px"></i>
        </div>-->
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs  tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#contacts" role="tab">Contactos</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#profile1" role="tab">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#messages1" role="tab">Messages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#settings1" role="tab">Settings</a>
                        </li>*@
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs card-block" id="tabs-container">
                    <div class="tab-pane active" id="contacts" role="tabpanel">
                        <table id="tablaContact" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Acciones</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Celular</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    @*<div class="tab-pane" id="profile1" role="tabpanel">
                            <p class="m-0">2.Cras consequat in enim ut efficitur. Nulla posuere elit quis auctor interdum praesent sit amet nulla vel enim amet. Donec convallis tellus neque, et imperdiet felis amet.</p>
                        </div>
                        <div class="tab-pane" id="messages1" role="tabpanel">
                            <p class="m-0">3. This is Photoshop's version of Lorem IpThis is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean mas Cum sociis natoque penatibus et magnis dis.....</p>
                        </div>
                        <div class="tab-pane" id="settings1" role="tabpanel">
                            <p class="m-0">4.Cras consequat in enim ut efficitur. Nulla posuere elit quis auctor interdum praesent sit amet nulla vel enim amet. Donec convallis tellus neque, et imperdiet felis amet.</p>
                        </div>*@
                </div>
            </div>

        </div>
        <!-- Row end -->

    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="ModalContact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg h-100 d-flex flex-column justify-content-center my-0" role="document">
        <div class="modal-content">
            <form  id="formContact" >
                <div class="modal-header">
                    <h5 class="modal-title text-center w-100" id="modalTitle">Contactos</h5>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <input class="form-control number" id="ClinId" name="ClienteId" hidden />
                        <input class="form-control number" id="idContacto" name="Id" hidden />
                        <div class="col-md-12">
                            <label class="label-control">Nombre</label>
                            <input class="form-control" id="nombre" name="Nombres" />
                        </div>
                        <div class="col-md-12">
                            <label class="label-control">Apellido</label>
                            <input class="form-control" id="apellido" name="Apellidos" />
                        </div>
                        <div class="col-md-12">
                            <label class="label-control">Email</label>
                            <input type="text" class="form-control" id="email" name="Email" />
                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <label class="label-control">Celular</label>
                                <input class="form-control" id="celular" name="Celular" />
                            </div>
                            <div class="col-md-4">
                                <label class="label-control">Telefono</label>
                                <input class="form-control" id="telefono" name="Telefono" />
                            </div>

                            <div class="col-md-4">
                                <label class="label-control">Rol</label>
                                <div id="divRoles">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/Client/jquery.EditCreate.js"></script>
<script src="~/js/Contacts/jquery.contacts.js"></script>
<script src="~/js/Contacts/jquery.buildContact.js"></script>