@{
    ViewData["Title"] = "Client";
}
<div>
    <div>

    </div>
    <div>
        <table id="tablaProveedor" class="table table-hover">
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th class="filter">Codigo</th>
                    <th class="filter">Nombre Comercial / Nombre o Razón Social</th>
                    <th class="filter">NRC</th>
                    <th class="filter">NIT</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>


    </div>
</div>