@{
    ViewData["Title"] = "Client";
}
<div>
    <div>
        <button class="btn btn-primary" onclick="edit('0')" >Agregar Cliente</button>
    </div>
    <br />
    <div>
        <table id="tablaClient" class="table table-hover">
            <thead>
                <tr>
                    <th class="filter-action">Acciones</th>
                    <th class="filter">Codigo</th>
                    <th class="filter">Nombre Comercial</th>
                    <th class="filter">Razón Social</th>
                    <th class="filter">NIT</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>


    </div>
</div>
<script src="~/js/Client/jquery.client.js"></script>