@{
    ViewData["Title"] = "Client";
}
<div>
    <div class="card">

        <div class="card-header">
            <button class="btn btn-primary" onclick="edit('0')"> <i class="fa fa-pencil-square-o"></i>Agregar Cliente</button>
            <button class="btn btn-primary btn-outline-primary"  onclick="refresh()"><i class="fa fa-refresh"></i>Actualizar</button>
        </div>
    </div>

    <div class="card">

        <div class="card-block">
            <table id="tablaClient" class="table table-hover">
                <thead>
                    <tr>
                        <th class="filter-action">Acciones</th>
                        <th class="filter">Codigo</th>
                        <th class="filter">Nombre Comercial</th>
                        <th class="filter">Razón Social</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>

            </table>


        </div>
    </div>
</div>

<script src="~/js/Client/jquery.client.js"></script>